.Container {
  width: 100vw;
  height: 100vh;
  background: rgb(192, 142, 198);
  background: linear-gradient(
    90deg,
    rgba(192, 142, 198, 1) 0%,
    rgba(175, 126, 196, 1) 50%,
    rgba(136, 104, 156, 1) 100%
  );
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.Web {
  width: 80%;
  height: 50%;
  background-color: #e9d8f3;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 15px;
  box-shadow: 7px 7px 15px rgba(0, 0, 0, 0.4);
  border:1px solid #9f86c1;
}
.Title{
  width:80%;
  font-weight: bold;
  color:#505077;
  font-size: 16px;
}
.Info {
  width:80%;
  height: 20%;
  background-color: #fbf7fc;
  border-radius: 15px;
  box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.1);
  border:1px solid #dddbe1;
}
.Main {
  width: 80%;
  height: 50%;
  background-color: #fbf7fc;
  border-radius: 15px;
  box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.1);
  border:1px solid #dddbe1;
}
.WeekCont {
  width: 1000px;
  height: 500px;
  background-color: #fbf7fc;
  border-radius: 10px;
}
