.Container {
  width: 100vw;
  height: 100vh;
  background: rgb(192, 142, 198);
  background: linear-gradient(
    90deg,
    rgba(192, 142, 198, 1) 0%,
    rgba(175, 126, 196, 1) 50%,
    rgba(136, 104, 156, 1) 100%
  );
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.Web {
  width: 80%;
  height: 50%;
  min-height: 600px;
  background-color: #e9d8f3;
  display: flex;
  // flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 15px;
  box-shadow: 7px 7px 15px rgba(0, 0, 0, 0.4);
  border: 1px solid #9f86c1;
}
.Nav {
  width: 10%;
  height: 95%;
  border-right: 2px solid #c7b7d1;
  font-weight: bold;
  color: #715b80;
  font-size: 18px;
  text-align: center;
  // background-color: #dad;
}
.Main {
  width: 85%;
  height: 95%;
  // background-color: #fad;
}
.Header {
  width: 100%;
  height: 7%;
  font-weight: bold;
  color: #715b80;
  font-size: 18px;
  // background-color: #fad;
}
.Body {
  width: 100%;
  height: 90%;
  display: flex;
  justify-content: space-between;
  // background-color: #dad;
}
.MainSec {
  width: 78%;
  height: 100%;
  display: flex;
  flex-direction: column;
  // justify-content: space-between;
  // background-color: #dad;
}
.InfoCont {
  width: 100%;
  height: 40%;
  min-height: 200px;
  margin-bottom: 20px;
  // background-color: #fbf7fc;
  // border-radius: 15px;
  // box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
  // border: 1px solid #dddbe1;
  display: flex;
  flex-direction: column;
}
.InputCont{
  display: flex;
  flex-direction:column;
  width:400px;
  font-weight: bold;
  padding-bottom: 5px;
  color: #715b80;
  font-size: 14px;
  > input{
    height:20px;
    border:none;
    border-radius: 5px;
  }
  ::placeholder{
    color:#dad;
    padding-left: 5px;
    font-size: 13px;
  }
}
.ButtonCont{
  width:400px;
  margin-top: 15px;
  height:25px;
  border:none;
  border-radius: 5px;
  background-color: #dad;
  font-weight: bold;
  color: #6d577d;
}
.ButtonCont:hover{
  background-color: rgb(226, 188, 226);
}
.ButtonCont:active{
  background-color: #dad;
  transition: 0.2s;
}
.WeeklyCont {
  width: 100%;
  height: 50%;
// background-color: red;
  display:flex;
  justify-content: space-between;
}
.Date{
  font-weight: bold;
  color: #9d85ad;
  width:14%;
  background-color: #fbf7fc;
  border-radius: 15px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
  border: 1px solid #dddbe1;
  font-size: 15px;
  text-align: center;
  padding:10px 0;
}
.Aside {
  background-color: #fbf7fc;
  width: 20%;
  height: 100%;
  border-radius: 15px;
  box-shadow: 7px 7px 15px rgba(0, 0, 0, 0.3);
  border: 1px solid #dddbe1;
}
